%li.topic{ class: topic.unread? && 'unread'  }
  = avatar(topic.author, 50)

  .title_and_replies_and_tags
    .title
      %h4
        = link_to(topic.title, topic)


    .replies_and_author_and_tags
      .replies
        %i.icon-comment-alt
        %span.count= topic.replies_count
        réponses

      .tags
        != topic.tags.map { |tag| link_to(tag.name, nil) }.join(' ')

  .score
    .count= topic.score
