%li.topic{ class: topic.unread? && 'unread'  }
  %section.block{ data: { url: topic_path(topic) } }
    = topic.author.avatar(50)

    .title
      %h2= link_to(topic.title, topic)
      par
      %span.author= topic.author.name

    %ul.tags= topic.tags
    .replies= topic.replies_count
    .score= topic.score