%li.topic{ class: topic.unread? && 'unread'  }
  = topic.author.avatar(50)

  .title_and_replies_and_tags
    .title
      %h4
        = link_to(topic.title, topic)


    .replies_and_author_and_tags
      .replies
        = topic.replies_count

      .tags
        = topic.tags

  .score
    = topic.score
