- content_for(:page_title, @topic.title)
- @topic = @topic.decorate

%section#topic
  %section.block
    .title
      %h2= @topic.title
    %ul.tags= @topic.tags
    .score= @topic.score

  .messages
    %section.block.message
      %aside.left
        = @topic.author.avatar(60)
        %span.score= @topic.score

      %aside.top
        %span.author= @topic.author.name

        %date{ datetime: @topic.created_at.to_time.iso8601, title: l(@topic.created_at) }
          il y a
          = time_ago_in_words(@topic.created_at)

        - if can?(:update, @topic)
          = link_to(raw('<i class="icon-edit"></i>'), edit_topic_path(@topic), class: 'edit_reply')

      .body
        = prettify_message(@topic.content)

    - @replies.decorate.each do |reply|
      %section.block.message
        %aside.left
          = reply.author.avatar(60)
          %span.score= reply.score

        %aside.top
          %span.author= reply.author.name

          %date{ datetime: reply.created_at.to_time.iso8601, title: l(reply.created_at) }
            il y a
            = time_ago_in_words(reply.created_at)

          - if can?(:update, reply)
            = link_to(raw('<i class="icon-edit"></i>'), edit_topic_reply_path(@topic, reply), class: 'edit_reply')

        .body
          = prettify_message(reply.content)


  .topic-actions
    - if can?(:reply, @topic)
      = form_for [ @topic, Reply.new ] do |f|
        %div.content
          = f.label :content
          %br
          = f.text_area :content

        %div
          = f.submit "Répondre"


  = paginate(@replies)
