%h2= @topic.title
%div= @topic.author.name
%div= @topic.content
%ul.tags
  - @topic.tags.each do |tag|
    %li= tag.name

- if can?(:tag, @topic)
  = form_tag tag_topic_path(@topic) do
    = text_field_tag :tag_names, @topic.tag_names.join(' ')
    = submit_tag 'Attribuer les tags'

.score
  = link_to_if can?(:score, @topic), '+1', score_topic_path(@topic, vote: 'positive'), method: :post, class: 'score_positive'
  .count= @topic.score
  = link_to_if can?(:score, @topic), '-1', score_topic_path(@topic, vote: 'negative'), method: :post, class: 'score_negative'

- if can?(:update, @topic)
  %div= link_to('Éditer', edit_topic_path(@topic), class: 'edit_topic')

%div= pluralize(@replies.count, 'réponse')

- if can?(:create, Reply)
  %div= link_to('Répondre', new_topic_reply_path(@topic), class: 'create_reply')

- @replies.each do |reply|
  %div
    %div= reply.author.name
    %div= reply.content

    - if can?(:update, reply)
      %div= link_to('Éditer', edit_topic_reply_path(@topic, reply), class: 'edit_reply')

= paginate(@replies)
