!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title
      Jeuweb -
      = content_for?(:page_title) ? yield(:page_title) : 'Crée ton jeu par navigateur'

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Abel'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #main_header
      %header
        %h1
          = link_to root_path do
            %span JeuWeb


    #wide_container
      #container
        %section#side_bar
          %section#user_box
            - if current_user
              = current_user.avatar(50)

              .name
                %strong
                  %a{ href: '' }= current_user.name
                %a{ href: '' } Editer mon profil

              .sign_out
                = link_to(sign_out_path, method: :delete) do
                  %i.icon-off

            - else
              %div
                %strong Invité

              %div= link_to('Connexion', sign_in_path)
              %div= link_to('Créer un compte', sign_up_path)

          .separator

          %nav
            %ul
              - if can?(:create, Topic)
                %li= link_to 'Créer une discussion', new_topic_path

              %li= link_to 'Tous les sujets', root_path

              - if current_user
                %li= link_to 'Messages privées', private_topics_path
                %li= link_to 'Mes recherches', nil
                %li= link_to 'Mes favoris', nil

            .separator

            %ul
              %li= link_to 'JeuWeb', topics_search_path(tags: 'JeuWeb')
              %li= link_to "Demandes d'aide", topics_search_path(tags: 'Question')
              %li= link_to 'Débats', topics_search_path(tags: 'Débat')
              %li= link_to 'Projets', topics_search_path(tags: 'Projet')

            .separator


        %section#content
          = yield

      #grey_box
