!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title Jeuweb
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %header
      %h1= link_to 'JeuWeb', root_path

      %section#current_user
        - if current_user
          %div
            %strong= current_user.name

          %div= link_to('Déconnexion', sign_out_path, method: :delete)

        - else
          %div
            %strong Invité

          %div= link_to('Connexion', sign_in_path)

    #container
      %nav#main
        %ul
          %li= link_to 'Discussions', root_path
          %li= link_to 'Messagerie', ''

        %ul
          %li= link_to 'JeuWeb', topics_search_path(tags: 'JeuWeb')
          %li= link_to "Demandes d'aide", topics_search_path(tags: 'Question')
          %li= link_to 'Débats', topics_search_path(tags: 'Débat')
          %li= link_to 'Projets', topics_search_path(tags: 'Projet')


      %section#content
        = yield
